// Here you can add other styles
.account {
  color: blue;
  cursor: pointer;
}

label .mandatory {
  color: red;
  font-size: unset;
}

.mandatory {
  color: red;
  font-size: 13px;
}

textarea {
  padding: 2px 5px;
  resize: none;
}

.eventPage {
  width: 70%;
  margin: auto;
}

.bold {
    font-weight: bold;
}
